*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.panel{
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100%;
    position: fixed;
    background-color: #2565AE;
}

.links{
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.links a{
    text-decoration: none;
    color: white;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    cursor: pointer;
}

/* admin pages */
.admin-section{
    width: 82%;
    height: auto;
    margin-left: 18%;
}

/* dashboard page */
.admin-dashboard{
    display: flex;
    flex-direction: column;
}

.dashboard{
    display: none;
}

.clients{
    display: none;
}

.title{
    font-size: 40px;
    color: #2565AE;
    padding: 20px;
}

.section{
    display: flex;
    flex-direction: column;
}

.graph{
    display: flex;
    flex-direction: column;
}

.graph-item{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    margin-top: 30px;
}

.seller-histogram{
    width: 50%;
}

.dashboard-title{
    width: 100%;
    font-size: 28px;
    padding: 10px 20px;
}

.select{
    width: 35%;
    height: 35px;
    margin-left: 22px;
    color: grey;
    font-size: 15px;
    outline: none;
    border: 1px solid grey;
}

.results{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.results-item{
    width: 30%;
}

.input{
    margin: 10px 22px;
    padding: 10px;
    width: 50%;
    height: 50px;
    border: 2px solid grey;
    border-radius: 10px;
    outline: none;
    color: grey;
    font-size: 20px;
    pointer-events: none;
    user-select: none;
}

.client-id{
    margin-top: 20px;
}

.input-id{
    width: 20%;
    height: 50px;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.ban-button{
    width: 12%;
    height: 50px;
    font-size: 20px;
    background-color: #2565AE;
    color: white;
    border: none;
    cursor: pointer;
}

.results-table{
    width: 82%;
    margin: 20px;
}

.table{
    margin: 5px 0;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
}

.table-image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

th,td{
    padding: 10px 10px;
    font-size: 20px;
}

th{
    background-color: #2565AE;
    color: white
}

tr{
    background-color: D9D9D9;
}
