*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.panel{
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100%;
    position: fixed;
    background-color: #2565AE;
}

.links{
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.links a{
    text-decoration: none;
    color: white;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
}

/* admin pages */
.admin-section{
    width: 82%;
    height: auto;
    margin-left: 18%;
    position: absolute;
}

/* dashboard page */
.admin-dashboard{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 40px;
    color: #2565AE;
    padding: 20px;
}

.section-dashboard{
    display: flex;
    flex-direction: column;
}

.graph{
    display: flex;
}

.graph-item{
    width: 50%;
    margin-top: 30px;
}

.dashboard-title{
    font-size: 28px;
    padding: 10px 20px;
}

.select{
    width: 20%;
    height: 35px;
    margin-left: 22px;
    color: grey;
    font-size: 15px;
    outline: none;
    border: 1px solid grey;
}

.results{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.results-item{
    width: 30%;
}

.input{
    margin: 10px 22px;
    padding: 10px;
    width: 50%;
    height: 50px;
    border: 2px solid grey;
    border-radius: 10px;
    outline: none;
    color: grey;
    font-size: 20px;
    pointer-events: none;
    user-select: none;
}