/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    height: 100%;
  }

/************************************************************/
/* flex */
.flex{
    display:flex;
}

.column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

.wrap{
    flex-wrap: wrap;
}

.center{
    justify-content: center;
    align-items: center;
}

.center-x{
    justify-content: center;
}

.center-y{
    align-items: center;
}

.end{
    justify-content: flex-end;
}

.start{
    align-content: start;
}

/************************************************************/
/* main container */
.main-container{
    height: 100vh;
    width: 100%;
}

/************************************************************/
/* left section */
.left-section{
    background-color: #2565AE;
    width: 18%;
    color: white;
    font-size: 20px;
}

.seller-name{
    margin-top: 100px;
    margin-left: 50px;
}

.left-div{
    margin-top: 140px;
    margin-left: 50px;
}

.div-logo {
    margin-bottom: 20px;
    cursor: pointer;
}

.div-logo > i{
    font-size:20px;
    color:white
}

.div-logo > p{
    margin-left: 20px;
}

/************************************************************/
/* section */
.home-section{
    display: block;
}

.category-section{
    display: none;
}

.revenue-section{
    display: none;
}











/************************************************************/
/* home section */
.home-section{
    width: 82%;
}

.home-div{
    padding: 100px;
    width: 100%;
    height: 100%;
}

.outer-text{
    font-size: 24px;
    color: #2565AE;
}

.bar-div{
    margin-top: 70px;
    width: 100%;
}

.btn{
    background-color: #2565AE;
    color: white;
    border-radius: 50px;
    border-style: none;
    width: 60px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
}

.btn-e{
    margin: 0 10px;
}

.div-table{
    margin-top: 10px;
    background-color: #d9d9d9;
    height: 100%;
    padding: 52px 35px;
    overflow: auto;
}

.product-div{
    width: 100%;
    margin-bottom: 50px;
}

.product-div > img{
    width: 40px;
    height: 40px;
}

.p-name{
    width: 160px;
    height: 40px;
}

.p-cat{
    width: 168px;
    height: 40px;
}

.p-desc{
    width: 347px;
    height: 40px;
}

.p-price, .p-disc{
    width: 80px;
    height: 40px;
}





