*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.blocked{
    opacity: 0.5;
}

.disabled{
    pointer-events: none;
    user-select: none;
    opacity: 0.8;
}

.side-bar{
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 100%;
    position: fixed;
    background-color: #2565AE;
}

.bar-item{
    display: flex;
    flex-direction: column;
    padding: 45px;
}

.bar-item a{ 
    text-decoration: none;
    color: white;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    cursor: pointer;
}

.product-main{
    width: 82%;
    height: auto;
    margin-left: 18%;
}

.home{
    display: block;
}

.revenue{
    display: none;
}

.start-title{
    font-size: 30px;
    color: #2565AE;
    padding: 20px 56px;
}

.product-id{
    margin-top: 20px;
}

.product-add{
    background-color: #2565AE;
    width: 40%;
    height: auto;
    left: 55%;
    bottom: 5%;
    border-radius: 20px;
    position: absolute;
    display: none;
}

.product-title{
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.product-input{
    width: 50%;
    height: 50px;
    padding-left: 20px;
    margin-top: 10px;
    font-size: 18px;
    outline: none;
}

.product-button{
    width: 30%;
    height: 40px;
    margin: 30px 0;
    background-color: lightgray;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.close-addproduct{
    background-color: transparent;
    border: none;
    margin: 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.input-form-product{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-table{
    width: 88%;
    margin: 20px;
    max-height: 400px;
    overflow-y: scroll;
}

.product-table{
    margin: 5px 40px;
    width: 90%;
    max-height: 400px;
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
}

.image-product{
    width: 50px;
    height: 50px;
}

.product-table th,td{
    padding: 10px 10px;
    font-size: 25px;
}

.product-table th{
    background-color: #2565AE;
    color: white;
    position: sticky;
    top: 0;
}

.product-table tr{
    background-color: D9D9D9;
    cursor: pointer;
}

.product-table tr:hover{
    transform: scale(1.1);
}

.button-product{
    width: 14%;
    height: 50px;
    font-size: 20px;
    background-color: #2565AE;
    color: white;
    border: none;
    cursor: pointer;
}

.input-id-product{
    width: 20%;
    height: 50px;
    margin-left: 60px;
    font-size: 20px;
    text-align: center;
    user-select: none;
    pointer-events: none;
}

.error{
    color: white;
    text-align: center;
}

.show-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    height: auto;
}

.show-text{
    color: white;
    font-size: 20px;
    padding: 10px 0;
}

@media (max-width: 800px){
    .bar-link{
        display: none;
    }
}
















































