/* Css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
/* Nav bar */
nav{
    background: #2565AE;
    height: 80px;
    width: 100%;
}
.ecommerce-name{
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 20px 50px;
    font-weight: bold;
    cursor: pointer;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
ul a:hover{
    color: rgb(45, 62, 80);
    transition: .5s;
}
.search-button{
    display: flex;
    justify-content: start;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    font-size: 20px;
    color:#2565AE;
    padding-left: 20px;
    margin-left: 50px;
}
.search-button > i{
    font-size: 19px;
    color: #2565AE;
    padding-top: 9px;
    cursor: pointer;
}
.search-button > input{
    border: none;
    outline: none;
    border-radius: 50px;
    padding-left: 10px;
    font-size: 16px;
    width: 90%;
    color: #2565AE;
}
.search-button > input::placeholder{
    color: #2565AE;
}
/* Utilities */
.container{
    padding-left: 45px;
    padding-right: 45px;
}