/* Madyan Chmaysem */

/* Reseting browser defaults*/
* {
  padding: 0%;
  margin: 0%;
}
/* common classes*/
body{
    font-family: Arial, Helvetica, sans-serif;

}
.flex {
  display: flex;
}

.flex-space-around {
  justify-content: space-around;
}
.flex-space-evenly {
  justify-content: space-evenly;
}
.align-items-center {
  align-items: center;
}
/* navbar styles*/
.navbar {
  background-color: 2565AE;
  font-size: 25px;
  position: fixed;
  width: 100% ;
}
.nav-cst img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-top: 2vh;
  margin-left: 5vw;
  margin-bottom: 2vh;
}
.navbar p {
  margin-top: 2vh;
  margin-left: 5vw;
  margin-bottom: 2vh;
  padding-top: 20px;
  color: white;
}
.nav-fct a {
  margin-top: 2vh;
  margin-left: 5vw;
  margin-bottom: 2vh;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.nav-fct input {
  margin-top: 2vh;
  margin-bottom: 15px;
  width: 75%;
  height: 4vh;
  border: none;
  outline: none;
  font-size: 20px;
}
 ::placeholder {
    color: 2565AE;   
}
.nav-fct .search-input {
  width: 50%;
  height: 6vh;
  background-color: white;
  border-radius: 30px;
  color: 2565AE;


  margin-left: 5vw;
}
.search-input > i {
  margin-left: 20px;
  color: 2565AE;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 1px;
  

}
